 footer{
    
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    color: #ffffff;
    background-color: #767676;
} 
.Footer{
    align-content: center;
}
* {
    margin: 0;
    padding: 0;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .footer {
    flex: 0 0 auto;
    width: 100%;
    color: #ffffff;
    background-color: #767676;
    height: 100px;
  }
  