.startRectangle{
    background-image: url(../../assets/images/zpI-mYQAFm4.jpg);
    height: 400px;
    width: 100%;
    text-align: center;
}

.hotKeys{
    font-family: Montserrat;
    font-size: 100px;
    font-weight: bold;
    color: #f25634;
}

button {
    padding: 0;
    font: inherit;

    background-color: transparent;
    cursor: pointer;
    font-family: PTSans;

    display: inline-block;
    text-align: center;
    text-decoration: none;
    
    border: solid 1px transparent;
    border-radius: 2px;
    
    padding: 0.5em 1em;
    margin: 15px auto;
    width: 100px;
    background-color: #ebebeb;
  }

.li2{
    color: #ebebeb;
    font-size: 24px;
    color: #ffffff;
    margin: 15px auto;
}
.grey-backgr{
    background-color: #c4c4c4;
    height: 450px;
    width: 65%;
    margin: 50px auto 0;
}
.grey-backgr:last-child{
    margin-bottom: 30px;
}