.Header{
    width: 100%;
    min-height: 50px;
    background-color: #767676;
    align-items: center;
    border-radius: none;
    color: #ffffff;
}

.HeaderTabs{
    list-style: none;
}

.Logo{
    width: 80px;
    height: 45px;

    float: left;
    text-align: center;

    font-family: Montserrat;
    font-weight: bold;
    background-color: #f25634;
    
    letter-spacing: normal;
    color: #ffffff;
    margin-left: 1%;
    padding-top: 5px;

}
.Login{
    float: right;
    margin-left: auto;
    margin-right: 0em;
    align-items: center;
    padding-right: 5px;
    padding: 15px;
}